@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

:root {
  --font-indie-flower: "Indie Flower", cursive;
  --font-inter: "Inter", sans-serif;
}

.font-indie {
  font-family: var(--font-indie-flower);
}

.font-inter {
  font-family: var(--font-inter);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
